html, body {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 30vh; /* Встановлення висоти на висоту вікна (viewport height) */
  }
  
  .title {
    text-align: center;
    margin-bottom: 100px;
    color: black;
  }
  .content {
    color: black;
  }
  #example-start-button {
    background-color: black;
    height: 60px;
    width: 150px;
    font-size: 30px;
    border-radius: 15px;
    color: white;
    font-weight: 300;
  }